<html>
    <head>
        <title>Universities</title>
    </head>
    <body>
        <h4>Update university entry</h4>
        {% if status == "SUCCESS" %}
            <p>Successfully updated university!</p>
        {% elif status == "NOT_SELECTED" %}
            <p>University is not selected!</p>
        {% elif status == "INVALID_FOUNDED_DATE" %}
            <p>Invalid founded date. Must be in format "YYYY-MM-DD"!</p>
        {% elif status == "INVALID_ABBREVIATION_NAME" %}
            <p>Invalid abbreviation name. Length must be from 1 to 255!</p>
        {% elif status == "INVALID_ABBREVIATION_NAME_AND_FOUNDED_DATE" %}
            <p>Invalid abbreviation name. Length must be from 1 to 255!</p>
            <p>Invalid founded date. Must be in format "YYYY-MM-DD"!</p>
        {% elif status == "INVALID_FULL_NAME" %}
            <p>Invalid full name. Length must be from 1 to 255!</p>
        {% elif status == "INVALID_FULL_NAME_AND_FOUNDED_DATE" %}
            <p>Invalid full name. Length must be from 1 to 255!</p>
            <p>Invalid founded date. Must be in format "YYYY-MM-DD"!</p>
        {% elif status == "INVALID_FULL_NAME_AND_ABBREVIATION_NAME" %}
            <p>Invalid full name. Length must be from 1 to 255!</p>
            <p>Invalid abbreviation name. Length must be from 1 to 255!</p>
        {% elif status == "INVALID_FULL_NAME_AND_ABBREVIATION_NAME_AND_FOUNDED_DATE" %}
            <p>Invalid full name. Length must be from 1 to 255!</p>
            <p>Invalid abbreviation name. Length must be from 1 to 255!</p>
            <p>Invalid founded date. Must be in format "YYYY-MM-DD"!</p>
        {% elif status is not None %}
            <p>Unknown status. Check logs</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ universities_update_form }}
            </table>
            <table border="1" cellpadding="5">
                <tr>
                    <th>Full Name</th>
                    <th>Abbreviation</th>
                    <th>Founded Date</th>
                    <th>Update</th>
                </tr>
                {% for item in values %}
                <tr> 
                    <td>{{ item.full_name }}</td>
                    <td>{{ item.abbreviation_name }}</td>
                    <td>{{ item.founded_date }}</td>
                    <td><input type="radio" name="id_to_update" value="{{ item.id }}"></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Update university"/>
        </form><br>
        <p>
            <a href="/universities/menu/">Back to universities menu</a>
        </p>
        <p>
            <a href="/menu/">Back to menu</a>
        </p>
    </body>
</html>